# How to work with numbers and format numbers

* In previous lectures, you learned the basics of working with numbers, including how to initialize numeric variables, how to use arithmetic expressions, and how to compare numeric values.
* In this notebook, you'll learn more about working with numbers, including how to format them and how to avoid floating-point errors by using decimal numbers.
   - **Skills for working with numbers (e.g., math module)**
   - **How to use format specifications with f-strings**

## Basic Skills for working with numbers

### How floating-point numbers work

**Two numeric data types**

![](http://drive.google.com/uc?export=view&id=1TIPj9yDg2c9dm9IjVYyQFHuphiU97wN1)

In [ ]:
# Examples of float values
21.5      # a positive float value
-124.82   # a negative float value
-3.7e-9   # floating-point notation for -0.0000000037

In [ ]:
type(-124.82)

In [ ]:
type(-3.7e-9)

In [ ]:
# Variables that are assigned values using scientific notation
value1 = 2.382e+5     # 2.382 * 105 (or 238,200)
value2 = 3.25E-4    # 3.25 * 10-8 (or .0000000325)

print("value1: ", value1, "\nvalue2:", value2)

An example of a floating-point error:

In [ ]:
balance = 100.10
balance += 100.10
balance += 100.10
print("Balance =", balance)

Code that fixes the floating-point error:

In [ ]:
balance = round(balance, 2)
print("Balance =", balance)

* A *floating-point number* consists of a positive or negative sign, a decimal value for the significant digits, and an optional exponent.
* Floating-point numbers provide for very large and very small numbers, but with a limited number of *significant digits*.
* To express the value of a floating-point number, you can use *scientific notation*.
* An integer is an *exact value* that yields expected results.
* A floating-point number is an *approximate value* that can yield unexpected results known as *floating-point errors*.

### How to use the math module

**Some common functions of the math module**

![](http://drive.google.com/uc?export=view&id=1MFP7KLDXk8K4NwAfauax0CKcVLkISAqZ)

**A constant of the math module**

![](http://drive.google.com/uc?export=view&id=1H0M6wSCipsa4EaXtmA7_GX0r9-Y15R4W)

How to import the math module:

In [ ]:
import math as m

How to use the pow() and sqrt() functions:

In [ ]:
result1 = m.pow(2, 3)      # 8.0 (the cube of 2)
result2 = m.sqrt(16)       # 4.0 (square root)
result3 = m.pow(125, 1/3)  # 4.999999999999999 (cube root)

print(f"power is: {round(result1)}",
      f"\nsquare_root is: {round(result2)}",
      f"\ncube_root is: {round(result3)}")

How to use the pi constant:

In [ ]:
radius = 12
circumference = m.pi * radius * 2    # 75.39822368615503
print(circumference)

In [ ]:
area = m.pi * m.pow(radius, 2)       # 452.3893421169302
print(area)

In [ ]:
area2 = m.pi * radius**2              # 452.3893421169302
area2

How to use the floor() and ceil() functions:
* ceil() -rounding up to the nearest integer
* floor()-rounding down to the nearest integer

In [ ]:
m.floor(12.545)     # rounding down to the nearest integer

12

In [ ]:
m.ceil(12.545)      # rounding up to the nearest integer

13

In [ ]:
m.floor(-3.432)     # rounding down to the nearest integer

-4

In [ ]:
m.ceil(-3.432)      # rounding up to the nearest integer

-3

How to use the ceil() function with decimal places:
* If you want to use them with decimal numbers, you can multiply and then divide by multiples of 10.

In [ ]:
m.ceil(2.0083)                    # 3

3

In [ ]:
m.ceil(2.0083 * 10) / 10          # 2.1

2.1

In [ ]:
m.ceil(2.0083 * 100) / 100        # 2.01

2.01

How to use the floor() function with decimal places:
* If you want to use them with decimal numbers, you can multiply and then divide by multiples of 10.

In [ ]:
m.floor(2.0083)                   # 2

In [ ]:
m.floor(2.0083 * 10) / 10         # 2.0

In [ ]:
m.floor(2.0083 * 1000) / 1000     # 2.008

* The math module contains functions for commonly used mathematical operations.
* The **ceil()** and **floor()** functions **return integers**. But if you want to use them with decimal numbers, you can multiply and then divide by multiples of 10.

## How to format numbers

### How to use format specifications with f-strings

The syntax of an f-string with a format specification

```
"f{value:format_specification}"
```
The syntax for the format specification:
```
[field_width][comma][.decimal_places][type_code]
```

**Common type codes**

![](http://drive.google.com/uc?export=view&id=1E-4z0F5O3vNM3XpjoAhBxOJGfT5o9vGw)

F-strings with format specifications:

In [3]:
fp_number = 123455.6789
print(f"{fp_number:.2f}")        # 12345.68
print(f"{fp_number:,.2f}")       # 12,345.68
print(f"{fp_number:15,.2f}")     #       12,345.68
print(f"{fp_number:.2e}")        # 1.23e+04

123455.68
123,455.68
     123,455.68
1.23e+05

In [4]:
fp_number = .12345
print(f"{fp_number:.0%}")        # 12%
print(f"{fp_number:.1%}")        # 12.3%

12%
12.3%

In [5]:
int_number = 12345
print(f"{int_number:d}")         # 12345
print(f"{int_number:,d}")        # 12,345

12345
12,345

How to format a string literal:

In [6]:
# enclose the literal in single quotes
print(f"{'Description':15}{'Price'}")

Description    Price

In [7]:
descrip = 'Description'
print(f"{descrip}{'Price':30}")

DescriptionPrice

How to use a variable in a format specification:

In [8]:
spec = 15
# enclose the variable in brackets
print(f"{'Description':{spec}}{'Price'}")

Description    Price

How to use field widths to align results

In [9]:
print(f"{'Description':15} {'Price':>10} {'Qty':>5}")
print(f"{'Hammer':15} {9.99:10.2f} {3:5d}")            # numbers are right-aligned by default
print(f"{'Hammer':15} {9.99:>10.2f} {3:>5d}")
print()
print(f"{'Description':15} {'Price':10} {'Qty':5}")    # strings are left-aligned by default
print(f"{'Description':15} {'Price':<10} {'Qty':<5}")
print(f"{'Hammer':15} {9.99:<10.2f} {3:<5d}")

Description          Price   Qty
Hammer                9.99     3
Hammer                9.99     3

Description     Price      Qty
Description     Price      Qty
Hammer          9.99       3

* You can use format specifications to format the values in the braces of an f-string.
* When you use a field-width specification, numbers are right aligned and strings are left aligned by default. However, you can use the <end> symbols to override that.

### How to fix rounding errors

The code that yields incorrect results:
* The discount is 10.01 and that's subtracted from 100.05, so the subtotal should be 90.04. But instead, it's 90.05!

In [1]:
### Enter order total: 100.05

order_total = float(input("Enter order total: "))   # e.g., 100.05
print()

# determine the discount percent
if order_total > 0 and order_total < 100:
    discount_percent = 0
elif order_total >= 100 and order_total < 250:
    discount_percent = .1
elif order_total >= 250:
    discount_percent = .2

# calculate the results
discount = order_total * discount_percent
subtotal = order_total - discount
sales_tax = subtotal * .05
invoice_total = subtotal + sales_tax

# display the results
print(f"Order total:      {order_total:10,.2f}")
print(f"Discount amount:  {discount:10,.2f}")
print(f"Subtotal:         {subtotal:10,.2f}")
print(f"Sales tax:        {sales_tax:10,.2f}")
print(f"Invoice total:    {invoice_total:10,.2f}")
print()

Enter order total: 124

Order total:          124.00
Discount amount:       12.40
Subtotal:             111.60
Sales tax:              5.58
Invoice total:        117.18

The code that fixes this problem:

In [ ]:
# calculate the results with rounding
discount = round(order_total * discount_percent, 2)
subtotal = order_total - discount
sales_tax = round(subtotal * .05, 2)
invoice_total = subtotal + sales_tax

# display the results
print(f"Order total:      {order_total:10,.2f}")
print(f"Discount amount:  {discount:10,.2f}")
print(f"Subtotal:         {subtotal:10,.2f}")
print(f"Sales tax:        {sales_tax:10,.2f}")
print(f"Invoice total:    {invoice_total:10,.2f}")
print()

* When you use floating-point numbers for financial calculations, you can get *rounding errors* if you don't round the results to two decimal places after any calculation that can result in more than two decimal places.

* For most programs, you can fix these errors easily enough by using the **round()** function as shown above.
* However, for some programs, including some financial programs, it's better to eliminate unexpected results by using the **decimal module** as shown in the textbook (optional for this course).