<font color='blue'> First of all, please “Copy to Drive” to get your own copy for editing. </font>

<font color='red'> Run all the cells. For places with "Complete the codes below", please replace the "XXX" placeholder with your own codes.</font>

# Ch 3.2: Functions

## Introduction
Functions are the primary and most important method of code organization and reuse in Python. As a rule of thumb, if you anticipate needing to repeat the same or very similar code more than once, it may be worth writing a reusable function.

**Define and call a function**
* A *function* is a sequence of statements to perform a specific task, a self-contained entity that only perform a specific task
* Once we define a function, we can *call* (or invoke) the function as many as we want
* To *define* a function, code the *def* keyword, the name of the function, a set of parentheses that contains zero or more arguments, and a colon. --> Then, code a block of one or more statements for the function. These statements must be *indented*.

![](http://drive.google.com/uc?export=view&id=1nu47GpsKisZAxP6-GhCoKH3O9rzLlDku)

Functions are declared with the **`def`** keyword. A function contains a block of code with an optional use of the **`return`** keyword:

In [1]:
def my_function(x, y):
    return x + y

The value or expression after **`return`** is sent to the context where the function was called

In [2]:
my_function(1, 2)
result = my_function(1, 2)
result

3

If Python reaches the end of a function without encountering a **`return`** statement, **`None`** is returned automatically.

In [3]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

You can also have multiple **`return`** statements. Each function can have positional arguments and keyword arguments. Keyword arguments are most commonly used to specify default values or optional arguments. While keyword arguments are optional, all positional arguments must be specified when calling a function.

In [4]:
def my_function2(x, y, z=1.5): # optional z argument with the default value 1.5
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [5]:
my_function2(5, 6, z=0.7) # You can pass values to the z argument with the keyword provided (recommended)

0.06363636363636363

In [6]:
my_function2(3.14, 7, 3.5) # You can pass values to the z argument without the keyword provided

35.49

In [7]:
my_function2(10, 20) # Keyword arguments are optional. Positional arguments must be specified

45.0

The main restriction on function arguments is that the keyword arguments **must follow** the positional arguments (if any). You can specify keyword arguments in any order.

In [8]:
# update_values() function can calculate and print the updated values
# it accepts three arguments. with a default value: length=20
def update_values(width, height, length=20):
  # update values
  width += 5
  height += 5
  length += 5
  return length, height, width

<font color='red'>Complete the codes in the cell below. Please replace the "XXX" placeholder with your own codes. </font>

In [9]:
# call the update_values() function by position
# specify (length = 30, width = 10, height = 5)

l, h, w = update_values(30, 10, 5)  # by position
print(w, h, l)

35 15 10

In [10]:
# call the update_values() function by keyword/named arguments
# specify (length = 30, width = 10, height = 5)
len, hei, wid = update_values(length = 30, width = 10, height = 5)  #by keyword arguments
print(len, hei, wid)

35 10 15

## Namespaces, Scope, and Local Functions

Any variables that are assigned within a function by default are assigned to the local namespace. The local namespace is created when the function is called and is immediately populated by the function’s arguments. After the function is finished, the local namespace is destroyed

In [11]:
def func():
    a = []
    for i in range(5):
        a.append(i)

When **`func()`** is called, the empty list `a` is created, five elements are appended, and then `a` is destroyed when the function exits.

In [12]:
func() # a is created and destroyed
a # Error 'a' is not defined

NameError: name 'a' is not defined

 Suppose instead we had declared `a` as follows

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)

Each call to **`func()`** will modify list `a`:

In [ ]:
func()
a

In [ ]:
func()
a

Assigning variables outside of the function's scope is possible, but those variables must be declared explicitly using the **`global`** keyword:

In [ ]:
a = None

def bind_a_variable():
    global a
    a = []
    a.append(3)

bind_a_variable()
print(a)

The use of the global keyword is **generally discouraged.**

## Returning Multiple Values

Python has the ability to return multiple values from a function with simple syntax:

In [13]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c # Function is actually returning one object (tuple)

a, b, c = f() # Unpacking the tuple
print(a, b, c)

5 6 7

Alternatively:

In [14]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c # Function is actually returning one object (tuple)

return_value = f() # return_value will be a tuple with a, b, c
return_value

(5, 6, 7)

 A potentially attractive alternative to returning multiple values like before might be to return a dictionary instead:

In [15]:
def f():
    a = 5
    b = 6
    c = 7
    return {"a" : a, "b" : b, "c" : c}

mydict = f()
mydict

{'a': 5, 'b': 6, 'c': 7}

<font color='red'>Complete the codes in the cell below. Please replace the "XXX" placeholder with your own codes. </font>

In [18]:
def get_user_info():
    name = input("Enter name: ")
    age = input("Enter age: ")
    email = input("Enter email: ")
    return {"name":name, "age":age, "email":email}  # Return all three values

#Print name age and email
user_info = get_user_info()
print("Name:", user_info["name"])
print("Age:", user_info["age"])
print("Email:", user_info["email"])

Enter name: div
Enter age: 22
Enter email: div@div.com
Name: div
Age: 22
Email: div@div.com

In [19]:
# A function that returns square value of x
def mysquare(x):
    y = x**2
    return y

In [20]:
result = mysquare(11)
result

121

<font color='red'>Complete the codes in the cell below.

In [21]:
# Please define a math function that return x raised to the power y: x**y
# The operator that can be used to perform the exponent arithmetic in Python is **
# a function name could be math_pow (or something similar)
def math_pow(x, n):
  return x**n

again = "y"
while again.lower() == "y":
  print("Value is", math_pow(2,3))
  again = input("Try again?")

print("Bye")

Value is 8
Try again?y
Value is 8
Try again?n
Bye

In [22]:
# Please define a math function that return x raised to the power y: x**y
# The operator that can be used to perform the exponent arithmetic in Python is **
# a function name could be math_pow (or something similar)
def math_pow(x,y):
  return x**y

again = "y"
while again.lower() == "y":
  x = int(input("enter number: "))
  y = int(input("Enter exponent: "))
  print("Value is: ", math_pow(x,y))
  again = input("Try again? ")

print("Bye")

enter number: 10
Enter exponent: 2
Value is:  100
Try again? y
enter number: 2
Enter exponent: 3
Value is:  8
Try again? n
Bye

In [24]:
# the sum from 1 to n
n = int(input("select a number: "))
sum1= 0
for i in range (1,n+1):
  sum1+= i
print("the sum from 1 to n is:", sum1)

select a number: 10
the sum from 1 to n is: 55

<font color='red'>Complete the codes in the cell below.

In [25]:
# define a function that accepts one argument/number: N
# and returns the sum of the squares of the first N natural numbers: e.g., N= 4, sumSquareN= 1*1+2*2+3*3+4*4 =30
# a function name could be sumSquareN (or something similar)
def sumSquareN(N):
  sum1 = 0
  #XXX
  for i in range(1, N+1):
    sum1+= i*i
  print("the sum of the squares of the first N natural numbers is:", sum1)

In [26]:
sumSquareN(N=4)

the sum of the squares of the first N natural numbers is: 30

## Use the standard modules

In [27]:
# One way: import the module
import random
randint(1, 6)         # Is the code working?
#random.randint(1, 6) # How about this one

NameError: name 'randint' is not defined

In [28]:
random.randint(1,6)

5

In [29]:
# 2nd way: import the module as sth (a short name)
import math as ms
math.sqrt(64)         # Is the code working?
#ms.sqrt(64)          # How about this one

NameError: name 'math' is not defined

In [30]:
ms.sqrt(64)

8.0

In [31]:
# 3rd way: from module import a function
from math import sqrt
sqrt(81)       # Is the code working

9.0

In [32]:
# 4th way: from module import a function as sth (a short name)
from math import pow as p
p(3, 4)

81.0

## Define and call a **main()** function
* a simple way to call a main() function
* a more professional way to call a main() function

In [33]:
# define a main() function that
# prompts the user to enter N
# calls the sumSquareN function defined before
# outputs  "The sum of the squares of numbers from 1 to N is XXX")

def main():
  UI = int(input("select a number: "))
  sumSquareN(UI)

In [34]:
main()   # a simple way to call a main() function

select a number: 10
the sum of the squares of the first N natural numbers is: 385

In [35]:
# Use a more professional way to call the main() function
if __name__ == "__main__":     # if this module is the main module
    main()                       # call the main() function

select a number: 10
the sum of the squares of the first N natural numbers is: 385

Python's **if \_\_name\_\_ == "\_\_main\_\_":** construct enables a single Python file to not only support reusable code and functions, but also contain executable code that will not explicitly run when a module is imported.
* If a file containing this code was run directly on the Python runtime, the code associated with the if condition would execute. If the file was imported as a module, the code would not run.

* The if name equals main block guards the calling of main() function, to ensure it executes only when the file is intentionally run directly as a script or application.

## Functions Are Objects

Suppose we were doing some data cleaning and needed to apply a bunch of transformations to the following list of strings:

In [36]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West       virginia?"]

Lots of things need to happen to make this list of strings uniform and ready for analysis: stripping whitespace, removing punctuation symbols, and standardizing proper capitalization. One way to do this is to use built-in string methods along with the **`re`** standard library module for regular expressions:

In [37]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = re.sub(r'\s+', ' ', value)
        value = value.title()
        result.append(value)
    return result

In [38]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

An alternative approach that you may find useful is to make a list of the operations you want to apply to a particular set of strings:

In [39]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

def remove_extraSpace(value):
    return re.sub(r'\s+', ' ', value)

clean_ops = [str.strip, remove_punctuation, remove_extraSpace,  str.title] # List of operations/functions

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [40]:
clean_strings(states, clean_ops) # The clean_strings function is also now more reusable and generic.

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

You can use functions as arguments to other functions like the built-in **`map()`** function, which applies a function to a sequence of some kind:

In [41]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West       virginia

In [42]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [43]:
?map

**`map()`** can be used as an alternative to list comprehensions without any filter.

## Anonymous (Lambda) Functions

Python has support for so-called anonymous or lambda functions, which are a way of writing functions consisting of a single statement, the result of which is the return value. They are defined with the **`lambda`** keyword, which has no meaning other than “we are declaring an anonymous function”:

In [44]:
def short_function(x): # Conventional function
    return x * 2

In [45]:
num = short_function(2)
num

4

In [46]:
equiv_anon = lambda x: x * 2 # Lambda Function
equiv_anon(2)

4

It’s often less typing (and clearer) to pass a lambda function as opposed to writing a full-out function declaration or even assigning the lambda function to a local variable:

In [47]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list] # List comprenhension

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2) # argument 'f' is now Lambda function

[8, 0, 2, 10, 12]

In [48]:
squared_ints = (lambda x: x**2)

In [49]:
squared_ints

In [50]:
squared_ints = map(lambda x: x**2, ints)

In [51]:
type(squared_ints)

map

As another example, suppose you wanted to sort a collection of strings by the number of distinct letters in each string:

In [1]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

strings.sort(key=lambda x: len(set(x))) # Pass a lambda function to the list's sort() method.
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [2]:
strings.sort(key=lambda x: len(x))
strings

['foo', 'bar', 'aaaa', 'abab', 'card']

In [3]:
set("foo")

{'f', 'o'}

In [4]:
len(set("foo"))

2

In [5]:
set("card")

{'a', 'c', 'd', 'r'}

In [6]:
strings.sort()
strings

['aaaa', 'abab', 'bar', 'card', 'foo']

In [7]:
def applylist (strings):
  return [len(set(x)) for x in strings]

applylist(strings)

[1, 2, 3, 4, 2]


```
lambda arguments: expression
```
The expression is exexcuted and the result is returned.

In [8]:
# Example: multiply argument a with argument b and return the result:
x = lambda a, b : a * b
print(x(5, 6))

30

In [9]:
# Example: summarize argument a, b, and c and return the result:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

<font color='red'>Complete the codes in the cell below. Please replace the "XXX" placeholder with your own codes. </font>

In [14]:
# Create a list of lambda functions for strings (capitalize, reverse, uppercase, XXX: first letter)
myfunctions = [lambda s: s.capitalize(), lambda s: s[::-1], lambda s: s.upper(), lambda s: s[0]]

# Create a list of five strings
strings = ["apple", "banana", "cherry", "date", "eggplant"]

# Use map() and a for loop to capitalize
for word in map(myfunctions[0], strings):
    print(word, end=" ")

# Use map() and a for loop to reverse
print()
for word in map(myfunctions[1], strings):
    print(word, end=" ")

# Use map() and a for loop to uppercase
print()
for word in map(myfunctions[2], strings):
    print(word, end=" ")

# Use map() and a for loop to first letter
print()
for word in map(myfunctions[3], strings):
    print(word, end=" ")

Apple Banana Cherry Date Eggplant
elppa ananab yrrehc etad tnalpgge
APPLE BANANA CHERRY DATE EGGPLANT
a b c d e

~~~ More to be added next class